<!DOCTYPE html>
<html>
<head>

	<!-- Website title -->
	<title>{{.Title}}</title>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

	<!-- Font styles -->
	 <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 

	 <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 

	<!-- Custom Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Custom theme change -->
	<link  id="theme-style" rel="stylesheet" type="text/css" href="">


</head>
<body>

	<!-- Header Section -->
	<section class="s1">

		<!-- Main Container -->
		<div class="main-container">

			<!-- Greeting wrapper -->
			<div class="greeting-wrapper">
				<h1>Hi, I'm Markson Senguji</h1>
			</div>
			<!-- End Greeting wrapper -->

			<!-- Intro wrapper -->
			<div class="intro-wrapper">

				<!-- Nav wrapper -->
				<div class="nav-wrapper">
					<div class="dots-wrapper">
						<div id="dot-1" class="browser-dot"></div>
						<div id="dot-2" class="browser-dot"></div>
						<div id="dot-3" class="browser-dot"></div>
					</div>
					<ul id="navigation">
						<li><a href="#contact-form">Contact</a></li>
					</ul>
				</div>
				<!-- End nav wrapper -->

				<!-- Left column -->
				<div class="left-column">
					<img id="profile_pic" src="images/img_one.jpg">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>
					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>
					<p id="settings-note">
						*Theme settings will be saved for <br>
						your next visit
					</p>
				</div>
				<!-- End left column -->

				<!-- right column -->
				<div class="right-column">
					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>Full Stack developer with years of experience using Linux and golang, Microservices, Information Security and MySQL.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
				<!-- End right column -->

			</div>
			<!-- End Intro wrapper -->

		</div>
		<!-- End Main Container -->
	</section>
	<!-- End Header Section -->


	<!-- About Section -->
	<section class="s2">

		<!-- Main Container -->
		<div class="main-container">
			
			<!-- About Wrapper -->
			<div class="about-wrapper">
				
				<!-- Left About column -->
				<div class="left-about-column">
					<h4>More about me</h4>
					<p>I build new projects, and love to teach others how they are made.</p>
					<p>Also i keep search of new projects that interest me.</p>

					<hr>

				<h4>TOP EXPERTISE</h4>

				<p>Full stack developer with primary focus on golang + Android development: <a  target="_blank" href="#">Download Resume</a></p>

				<div id="skills">
					<ul>
						<li>Golang</li>
						<li>Android development</li>
						<li>MySQL</li>
						<li>PHP</li>
					</ul>
					<ul>
						<li>Information Security</li>
						<li>Javascript</li>
						<li>Google Maps API</li>
						<li>JS Charts</li>
					</ul>
				</div>
				</div>

				<!-- End Left About column -->

				<!-- Right About column -->
				<div class="right-about-column">
					<h3>Find me using links below:</h3>
					<br>
					<a target="_blank" href="https://github.com/nyelwa-senguji">Github: nyelwa-senguji</a>
					<br>
					<a target="_blank" href="https://www.linkedin.com/in/markson-fanuel-4a640622a/">Linkedln: Markson Fanuel</a>
					<br>

				</div>
				<!-- End right About column -->

			</div>
			<!-- End About wrapper -->

		</div>
		<!-- End Main Container -->

	</section>
	<!-- End About Section -->


	<!-- Portfolio Section -->
	<section class="s1">

		<!-- Main Container -->		
		<div class="main-container">

			<h3 style="text-align: center;">Some of my projects</h3>

			<!-- Showboating my projects -->
			<div class="post-wrapper">
				
				<div class="post">
					<img class="thumbnail" src="images/img_two.jpg">
					<div class="post-preview">
						<h6 class="post-title">Post Title</h6>
						<p class="post-intro">This is a sentence. Some more text here</p>
						<a href="#">Read More</a>
					</div>
				</div>

				<div class="post">
					<img class="thumbnail" src="images/img_two.jpg">
					<div class="post-preview">
						<h6 class="post-title">Post Title</h6>
						<p class="post-intro">This is a sentence. Some more text here</p>
						<a href="#">Read More</a>
					</div>
				</div>

				<div class="post">
					<img class="thumbnail" src="images/img_two.jpg">
					<div class="post-preview">
						<h6 class="post-title">Post Title</h6>
						<p class="post-intro">This is a sentence. Some more text here</p>
						<a href="#">Read More</a>
					</div>
				</div> 

			</div>
			<!-- End Showboating my projects -->

		</div>
		<!-- End Main Container -->

	</section>
	<!-- End Portfolio Section -->

	<!-- Contact Section -->
	<section class="s2">
		<div class="main-container">
			
			<h3 style="text-align: center;">Get In Touch</h3>

			<!-- Form -->
			<form id="contact-form">

				<label>Name</label>
				<input  class="input-field" type="text" name="name">

				<label>Subject</label>
				<input  class="input-field" type="text" name="subject">

				<label>Email</label>
				<input  class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea class="input-field" name="message"></textarea>

				<input id="submit-button" type="submit" value="Send">
			</form>
			<!-- End form -->

		</div>
	</section>
	<!-- ENd Contact Section -->

	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>